body{
    
    /* background-position:inherit; */
    font-family: 'Poppins', sans-serif;
}
#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 4px;
    font-size: 12px;
}

#form h1{
    color: #0f2027;
    text-align: center;
}

#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
}


#form a{
    padding: 5px;
    /* padding-left: 84%; */
    margin-top: 10px;
    width: 100%;
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 4px;
    text-align: center;
}



.input-control{
    display: flex;
    flex-direction: column;
}

.input-control input{
    border: 2px solid white;
    border-radius: 4px;
    border-color: aqua;
    display: block;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: green;
}

.input-control.error input{
    border-color: red;
}
.input-control .error{
    color: red;
    font-size: 9px;
    height: 13px;
}