
.blogo>img{
    width:110px;
    height: 110px;
}




.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.heading {
    font-size: x-large;
}

.ground {
    font-size: medium;
}

.padding {
    padding: 60px 0;
}

.padding img {
    width: 100%;
    height: 90%;
}

.article1 {
    font-size: medium;
}

.article2 {
    font-size: medium;
}
.navbar{
    background-color: rgb(85, 191, 236) ;
    
}

.navbar-brand:hover {
    color: aqua;
    background-color: rgb(48, 184, 138);
}

.nav-item:hover {
    color: aqua;
    background-color: rgb(48, 184, 138);
}



.test1 {
    color:aliceblue;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: x-large;
}

.author {
    font-size: large;
    
}


.fas {
    text-align: end;
    color: aliceblue;
    font-size: 85px;
}

.container.ground_rule {
    font-size: medium;
}
.container1{
    background-color: rgb(118, 254, 254);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.footer {
    background-color: rgb(15, 6, 42);
    color: white;
    padding: 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.footer{
	background-color: rgb(85, 191, 236);
	color: white;
    padding: 50px 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer>.row {
    display: flex;
    flex-wrap: wrap;
}
.footer>a {
    text-decoration: none;
}

.set-position {
    padding-left: 10px;
}

h5 {
    font-size: large;
    font-weight: bold;
}

.social-link {
    margin-bottom: 10px;
}

.social-link a {
    display: inline;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;

}
.row{
	text-align: center;
}

.fab{
	font-size: 35px;
}

.col-sm-4 h5{
	padding-top: 5px;
}

.fab:hover{
	color: red;
	text-shadow: 5px, 5px, 10px;
	transition: 0.3s;
}

.col-sm-4 address a{
	text-decoration: none;
}