body{
    
    background-position: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}
#form{
    width: 32%;
    height: 65%;
    margin: 50px auto 0 auto;
    padding-top: 50px;
    padding-left: 40px;
    background-color: #FFFFFF;
    border-radius: 35px;
    font-size: 12px;
    opacity: 0.85;
}
h2{
    font-size: 30px;
    text-align: left;
  }
#form h1{
    color: #0f2027;
    text-align: center;
}
.form-content{
    margin-left: 20px;
}
.form-control{
    border-radius: 4px;
    font-size: 12px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.input-control{
    /* border-color: black 0.5px solid; */
    border-radius: 5px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
/* style for input */
.form-control input{
    background-color: rgb(39, 41, 41);
    color: aliceblue;
}
/* style for placeholder */
.form-control ::placeholder{
    color:white;
    opacity: 0.4;
}
/* style when focus on input */
.form-control input:focus{
    outline: 0;
    border-color: rgb(142, 160, 211);
}
.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: red;
}
.form-control small{
    color: red;
    font-size: 9px;
    height: 12px;
    /* border: solid 1px black; */
}
#joinbtn:hover{
    background-color: rgb(48, 184, 138);
    
}
#form button{
    padding: 7px;
    margin-top: 7px;
    margin-left: 16em;
    width: 35%;
    color: white;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
}
@media only screen and (max-width:1100px) {
        #form{
            width: 50%;
        }
        #form button{
            margin-left: 15.5em;
        }
    }
@media only screen and (max-width:720px) {
        #form{
            width: 50%;
            padding-left: 10px;
        }
        #form button{
            margin-left: 4em;
        }
    }