
/* About us */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bg{
	
	height: 700px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


}
.text{
	text-align: center;
	padding: 0px;
	width: 600px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


	
}
.btn {
	background-color: rgb(83, 135, 83);
	
	
	
}
#input {
	width: 100%;
	height: 100px;
	
	background-color: beige;
	font-size: 15px;
	border-bottom: 1px solid beige;
}
#input:focus{
	border-bottom:2px solid beige ;
}
button{
	height: 30px;
	width: 100px;
	background: rgb(83, 135, 83);
	
	margin: 10px 0;
	font-size: 15px;
	border-radius: 20px;
	text-align: center;
	border: none;
}
button:hover {

    letter-spacing: .1rem;
}
header{
	background-color: rgb(85, 191, 236);
}
body{
	background-color:rgba(160, 159, 159, 0.95);
}


.image1{
	display: flex;
	
}
.image2{
	width: 12%;
	
}