

/* birds */
form.search-bar{
	width:100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	background-color:aliceblue;
	height: 50px;	

}
form.search-bar input{
	background: aliceblue;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 20px;
	color: black;
	height: 50px;
}
form.search-bar ::placeholder{
	color:black;

}


.box{
	padding: 0 10px 0 10px;
	background: aliceblue;
}

.grid-container {

	background-color:#35BAE4;
	padding: 10px;
}
  
.row{
	text-align: center;
}

.container2{
	background-color:#35BAE4;
	justify-content: center;
	display: flex;
	align-items: center;
	padding-top: 28px;
}
.search-bar-1::placeholder{
	font-size: 20px;
}
.birdimg>a>img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.birdname>h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: aliceblue;
}
.info-box{
	background-color: #35BAE4;
	padding: 0px 25px 10px 25px;
	
}

.details{
	background: aliceblue;
	border-radius: 40px;
	padding: 10px 20px 30px 20px ;

}

.dbirdimg>a>img{
	border-radius: 50%;
	width: 150px;	
	height: 150px;
	position: relative;

}
.dbird1{
	
	text-align: center;
	
}
.dbirdname>h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: black;
	
}
.birdinfo{
	background: #C4C4C4;
	padding: 10px 10px 10px 10px;
}
.back-button{
	border: none;
	border-radius: 50%;
	background-color: #C4C4C4;
	width: 30px;
	height: 30px;	
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 0 0 5px 0;
}
.previous {

	color: black;
}

.upload{
	background-color:#35BAE4;
	padding: 5px 30px 0 30px;
}
.upload-container{
	background: #C4C4C4;
	padding: 0 0px 5px 0px;
	border-radius: 10px;

}

.userP>img{
	border: none;
	border-radius: 50%;
	
	

}
.user{
	width: 100px;
	height: 100px;

}

.fab:hover{
	color: red;
	text-shadow: 5px, 5px, 10px;
	transition: 0.3s;
}

/* status */
.Scontainer{
	background: #747171;
	padding: 22px 100px 25px 100px;
}
.SBox{
	background: #2e2e2e;
	border-radius: 30px;
	padding: 50px;
	align-items: center;
	
	
	
}
.Status-box{
	align-items: center;

}
.SB{
	column-gap: 20px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.boxes{
	background: radial-gradient(white,#35BAE4);
	border-radius: 20px;
	height:150px;
	text-align: center;
	justify-content: center;
	display: flex;

}
.boxes>a button{
	height: 150px;
}
@media(max-width: 760px){
	.nav-item a{
		font-size: 100%;
	}
	.box{
		width: 100%;
	}
	.search-bar-1::placeholder{
		font-size: 11px;
		font-weight: bold;
	}
	.search-bar-1{
		width: 100%;
	}
	.search-btn{
		width: 100%;
	}
	.Scontainer{
		width: 100%;
	}
	.Scontainer{
		width: 100%;
	}
	.SB{
		row-gap: 20px;
	}
}



