.row img {
    width: 150px;
    height: 150px;

}
.row>.col img{
    width: 30px;
    height: 30px;
    
    
}
p{
    text-align: left;
}

@media (max-width: 790px) {
    .row img {
        width: 100px;
        height: 100px;
    
    }
    p{
        font-size: 100%;
    }
    .t1{
        max-width: 45px;
        max-height: 45px;
    }
    h1{
        font-size: medium;

    }
    .rbox>.row{
        padding-top: 10px;
    }
    .row>.col img{
        width: 15px;
        height: 15px;
       
       
        
        
    }
   

    
}