.form-box{
    background-color: whitesmoke;
}
.container{
    width: 80%;
    margin: auto;
}
.container-box{
    background: #fff;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.container h1{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    
}
label{
    margin: 6px;
    display: block;
    color: rgb(0, 0, 0);
}
button{
    background: #404cea;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
button:hover{
    background: #6c68bb;
}
