body{
    
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
html{
    padding: 6em;
}
#form{
    width: 30%;
    margin: 10vh auto 0 auto;
    padding: 50px 20px 50px 20px;
    background-color: #FFFFFF;
    border-radius: 35px;
    font-size: 12px;
    opacity: 0.85;
    text-align: left;
}
.loginB button{
    padding: 10px;
    margin-top: 10px;
    margin-left: 85px;
    width: 40%;
    color: white;
    background-color: rgb(22, 22, 24);
    border: none;
    border-radius: 90px;
    cursor: pointer;
}
.box{
    text-align: justify;
    color: rgb(17, 20, 207);
    padding-top: 6px;
}
.form-control{
    border-color: black;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.form-control label{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 15px;
}

#form .back-button{
   
	border: none;
	border-radius: 50%;
	background-color: #44d2f2;
	width: 30px;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;	
}
.back button {
    justify-content: left;
    display: flex;
    padding: 0px;

}

/* style for input */
.form-control input{
    width: 90%;
    padding-top: 4px;
    background-color: rgb(39, 41, 41);
    color: rgb(255, 255, 255);
    
}
/* style for placeholder */
.form-control ::placeholder{
    color:white;
    opacity: 0.4;
    font-size: small;
}
/* style when focus on input */
.form-control input:focus{
    outline: 0;
    border-color: rgb(142, 211, 211);
}
@media only screen and (max-width:1100px) {
    #form{
        width: 50%;
        padding: 15px;
        background-color: rgb(240, 236, 231);
        border-radius: 35px;
        opacity: 0.85;
    }
    .form-control label{
        font-size: 16px;
    }
    .form-control ::placeholder{
        font-size: smaller;
    }
}
@media only screen and (max-width:720px) {
    #form{
        width: 100%;
        padding: 15px;
        background-color: rgb(240, 236, 231);
        border-radius: 35px;
        font-size: 10px;
        opacity: 0.85;
    }
    .form-control label{
        font-size: 14px;
    }
    .form-control ::placeholder{
        font-size: x-small;
    }
}
