*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

#admin{
	border-radius: 4px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#admin:hover{
	color: #de0f0f;
	transition: 0.3s;
}


.navbar{
	background: rgb(85, 191, 236);
}
body{
	background-color: #aecbec;
}


.image1{
	display: flex;
	
}
.image2{
	width: 12%;
	
}

#text1{
	cursor: pointer;
}

.nav-item a{
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	justify-content: space-between;
	padding-left: 10px;
	color: #9a9a9a;
}

.nav-right{
	display: flex;
	align-items:center;
}

.nav-user-icon img{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
}

#navbarSupportedContent{
	position: sticky;
	position: s;
}


.nav-body{
	margin: 0px;
}

.container{
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 13px 1%;

}

#image:hover{
	color: rgb(182, 23, 23);
    Text-shadow: 5px 5px 10px;
    transition: 0.3s;
}
.like-icons{
	cursor: pointer;
}
.like-icons:hover{
	color: rgb(182, 23, 23);
    Text-shadow: 5px 5px 10px;
    transition: 0.3s;
}

.left-sidebar{
	background-color: #cbdffa;
	flex-basis: 15%;
	position:static;
	top: 70px;
	align-self: flex-start;
	height: 340vh;
	
}

.left-sidebar p{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 10px;
	text-align: center;
}

.left-sidebar img{
	width: 100%;
	height: 100%;
	padding-top: 300px;
	align-items: center;
	

}



.right-sidebar{
	background-color: #cbdffa;
	flex-basis: 15%;
	position:static;
	top: 70px;
	align-self: flex-start;
	height: 340vh;
	color: #626262;
}

.right-sidebar a{
	text-decoration: none;
	font-weight: lighter;
	color: black;
	padding-top: 300px;
}

.right-sidebar h2{
	/* padding-top: 20%; */
	margin-top: 50%;
	font-size: 23px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	

}
.main-sidebar{
	flex-basis: 65%;
	/* padding-left: 20%; */
	width: 100%;
}


.user-profile{
	display: flex;
	align-items: center;
}

.user-profile img{
	width: 60px;
	margin-right: 10px;
}

.user-profile p{
	margin-bottom: -5px;
	font-weight: 500;
	color: #626262;
	font-size: 20px;
}

.user-profile small{
	font-size: 15px;
}

.user-profile small img{
	width: 15px;
} 

.post-in-put-container{
	
	padding-top: 5px;
	padding-right: 2px;
	padding-left: 2px;
	background: rgb(255, 254, 254);
	padding-bottom: 11px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
}

#toggleBtn1{
	width: 100%;
	height: 41px;
    border-radius: 40px;
	border: 0;
	outline: 0;
	border: 3px solid #ccc;
	background: transparent;
	background: rgba(244, 239, 239, 0.312);
	resize: none;
	font-size: 20px;
	color: rgb(2, 7, 10);
	padding-bottom: 10px;
	text-align: center;
} 

.setting-post{
	position: relative;
	width: 100%;
	max-width:100% ;
	height: 500px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0.4);
	overflow: hidden;
	display: none;
}

.create-post h1{
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.create-post textarea{
	width: 100%;
	height: 250px;
    border-radius: 10px;
	border: 0;
	outline: 0;
	border: 3px solid #ccc;
	background: transparent;
	background: rgba(244, 239, 239, 0.312);
	resize: none;
	font-size: 20px;
	color: rgb(2, 7, 10);
	padding-bottom: 10px;
}

.post-menu-inner{
	padding: 20px;
}

#lable{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

#toggleBtn2{
	border-radius: 10%;
	color: #de0f0f;
	
}

.activity-icon{
	cursor: pointer;
}

.add-post-link{
	display: flex;
	margin-top: 10px;
}

.add-post-link a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #626262;
	margin-right: 30px;
	font-size: 13px;
}

.add-post-link a img{
	width: 30px;
	margin-right: 5px;
}

.post-container{
	width: 100%;
	background: white;
	border-radius: 6px;
	padding: 15px;
	color: #626262;
	margin: 20px 0;
}

.user-profile span{
	font-size: 13px;
	color: #9a9a9a;
}

.post-img{
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}

.post-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.activity-icon{
	display: flex;
}

.activity-icon div img{
	margin-right: 2px;
}

.activity-icon div{
	width: 50%;
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
}

.Load-more-btn{
	display: block;
	margin:auto;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #9a9a9a;
	color: #ad1f1f;
	/* background: transparent; */
	border-radius: 4px;
}

.Load-more-btn:hover{
	color: rgb(182, 23, 23);
    Text-shadow: 5px 5px 10px;
    transition: 0.3s;
}

.setting-menu{ 
	position: absolute;
	width: 90%;
	max-width: 350px;
	height: 256px;
	background: rgb(244, 240, 240);
	box-shadow: 0 0 10px rgba(0,0,0.4);
	border-radius: 4px;
	overflow:hidden;
	top: 108%;
	right: 1%;
	max-height: 0;
	transition: max-height 0.3s;
	
}

.setting-menu-height{
	max-height: 460px;
} 


.setting-menu hr{
	border: 0;
	height: 1px;
	background: #070707;
	margin: 15px 0;
}

.user-profile a{
	font-size: 1px;
	color: blue;
	text-decoration: none;
}
.settings-m{
	padding: 20px;
}


footer{
	background-color: rgb(85, 191, 236);
	color: white;
    padding: 50px 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer>.row {
    display: flex;
    flex-wrap: wrap;
}
.footer>a {
    text-decoration: none;
}

.set-position {
    padding-left: 10px;
}

h5 {
    font-size: large;
    font-weight: bold;
}

.social-link {
    margin-bottom: 10px;
}

.social-link a {
    display: inline;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;

}
.row{
	text-align: center;
}

.fab{
	font-size: 35px;
}

.col-sm-4 h5{
	padding-top: 5px;
}

.fab:hover{
	color: red;
	text-shadow: 5px, 5px, 10px;
	transition: 0.3s;
}

.col-sm-4 address a{
	text-decoration: none;
}

#myform{
	font-size: 25px;
}

#submit{
	border-radius: 10px;
}


@media( max-width: 720px){

	.nav-item a{
		font-size: 100%;
	}
	.add-post-link a{
		font-size: 100%;
	}
	
	.left-sidebar p{
		font-size: 100%;
	}
	.right-sidebar h1{
		font-size: 15px;
	}
	.right-sidebar h2{
		font-size: 12px;
	}
	.right-sidebar h3{
		font-size: 12px;
	}
	.activity-icon div{
		display: flex;
		font-size: 12px;
	}
	.like-icons div{
		font-size: 12px;	
	}
	.right-sidebar{
		height: 200vh;
	}
	.left-sidebar{
		max-height: 100%;
		max-width: 100%;
	}
	.right-sidebar{
		max-height: 100%;
		max-width: 100%;
	}
	.setting-menu{
		width: 50%;
	}
	.user-profile p{
		font-size: 12px;
		font-weight: bold;
	}
	.nav-container{
		text-align: center;

	}
	.nav-container p {
		font-size: 15px;
		
	}
	.setting-post{
		max-width: 100%;
		max-height: 85vh;
	}
}





