form.search-bar{
	width:100%;
	max-width: 600px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	background-color:aliceblue;
	height: 50px;	

}
form.search-bar input{
	background: aliceblue;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 15px;
	color: black;
    height: 50px;
	
}
form.search-bar ::placeholder{
	color:black;

}
form.search-bar button{
	border: 0;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	background: gray;
	cursor: pointer;
	
	
}
.container2{
	background-color:#aecbec;
	justify-content: center;
	display: flex;
	align-items: center;

}
.box{
	padding: 0 10px 0 10px;
	
}

@media(max-width: 760px){
	
	.search-bar-1::placeholder{
		font-size: 11px;
		font-weight: bold;
	}
	.search-bar-1{
		width: 100%;
	}
	.search-btn{
		width: 100%;
	}
	
}



