/* About Us starts  */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav-body{
	
	height: 750px; 
	/* position: relative; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-body h1, h2{
    color: black;
}
.text{
	text-align: center;
	padding: 30px;
	width: 500px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: aliceblue;
}
/* About Us ends */