body{
    margin-top: 20px;
    background-color: lightgray;
}
.main{
    background-color: teal;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color: #333;
    color: white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}
.container{
    padding: 0px;
}
.jam {
    padding: 20px 5px 10px 5px;
}
.card-body img{
    width: 100px;
    height: 100px;
}
.card-body h3{
    font-size: medium;
}
.card-body a{
    font-size: medium;
}

@media (max-width: 900px) {
    .jam{
        font-size: 100%;
    }
    .card-body img {
        max-width: 20%;
        height: 20%;
        
    }
    .card-body{
        font-size: small;
        max-width: 100%;
    }
    .card-body a{
        font-size: medium;
    }
    .card-body h3{
        font-size: medium;
    }
    .container{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
}
