.container{
    position: relative;
    width: 400px;
    background: whitesmoke;
    padding: 20px 30px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.container .post{
    display: none;
}
.container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;

}
.container .edit{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;

}
.container .star-widget input{
    display: none;

}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
    content: "very bad";
}
#rate-2:checked ~ form header:before{
    content: "bad";
}
#rate-3:checked ~ form header:before{
    content: "satisfactory";
}
#rate-4:checked ~ form header:before{
    content: "good";
}
#rate-5:checked ~ form header:before{
    content: "very good";
}
/* .container form{
    display: none;

}
input:checked ~ form{
    display: block;
} */
form header{
    width: 100%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 17px;
    resize: none;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    background: rgb(57, 57, 235);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}